.view-title {
  color: rgb(11, 11, 184);
  text-align: center;
  text-transform: uppercase;
}

.button-back {
  min-width: 80px;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 8px 4px rgba(20, 87, 139, 0.2);
  -moz-box-shadow: 4px 4px 8px 4px rgba(20, 87, 139, 0.2);
  box-shadow: 4px 4px 8px 4px rgba(20, 87, 139, 0.2);
  background-image: linear-gradient(
    to left,
    rgba(148, 255, 212, 0.8),
    rgba(144, 246, 212, 0.82),
    rgba(140, 236, 211, 0.84),
    rgba(137, 227, 211, 0.85),
    rgba(133, 218, 210, 0.87),
    rgba(129, 209, 210, 0.89),
    rgba(125, 199, 209, 0.91),
    rgba(121, 190, 209, 0.93),
    rgba(117, 181, 208, 0.95),
    rgba(114, 172, 208, 0.96),
    rgba(110, 162, 207, 0.98),
    rgb(106, 153, 207)
  );
}
